* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header h2 {
    margin-left: 45%;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: bold;
    color: aqua;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

section {
    padding: 80px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

section h1 {
    font-size: 2em;
    padding-top: 20px;
}

.sobre-mim-container {
    display: flex;
    align-items: center;
}

.imagem {
    width: 150px; /* Ajuste o tamanho conforme necessário */
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.texto-sobre-mim {
    flex: 1;
}

section p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

#projetos ul {
    list-style-type: none;
}

#projetos ul li {
    margin-bottom: 10px;
    padding-top: 15px;
}

#projetos ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

#projetos ul li a:hover {
    color: #007BFF;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    font-weight: bold;
    margin-bottom: 5px;
}

form input, form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #0056b3;
}